.film-tile {
  display: flex;
  flex-direction: row;
  height: 300px;
  max-width: 550px;
  min-width: 400px;
  margin-bottom: 50px; 
  border: 1px solid #eee;
  position: relative;
}

.film-tile p {
  margin: 10px 0;
}

.film-tile_img {
  background-color: #fff;
  width: 200px;
}

.film-tile_img img {
  min-width: 200px;
  max-width: 250px;
  width: 100%;
}

.film-tile__info {
  background-color: #fff;
  padding-left: 10px;
}

.info-wrap {
  max-height: 250px;
  overflow: hidden;
}

.film-tile__title {
  font-weight: bold;
  font-size: 20px;
}

.film-tile__plot {
  padding-right: 5px;
}

.film-tile__info span {
  font-weight: bold;
}

md-icon {
  position: relative;
  top: 3px;
  left: 5px;
  font-size: 18px;
  color: #777;
}

button {
  position: absolute;
  bottom: 20px;
  border: 1px solid #777; 
}